<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
        <title>ADEO Container Plateform v1</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <style>
        body {
                background-color: white;
                text-align: center;
                padding: 50px;
                font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        }

        #logo {
                margin-bottom: 40px;
        }
        </style>
 
	    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
 
	    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
 
	    <link href="../static/css/guru.css"
	          th:href="@{css/guru.css}" rel="stylesheet" media="screen"/>
</head>
<body>
        <h1> Hello </h1>
	<h2> Fellow Spring Framework Gurus!!! </h2>
	<img src="../static/images/NewBannerBOOTS_2.png" th:src="@{images/NewBannerBOOTS_2.png}"/>
	<h2 th:text="'My hostname is : '+${hostname}" />
	<h2 th:text="'Version : '+${version}"> </h2>
</body>
</html>

